<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangpakok Hackathon Qualify</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/1087795365027258398/1146300900311306300/logo.png?width=556&height=676">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<style>

    body {
      font-size: 18px;
      background-color: #f5f5f5;
    }
    .text-end {
        position: absolute;
        margin-left: 75vw;
    }

    .header {
      background: #2196f3;
      filter: drop-shadow(0 0 0.1rem #1f1f1f);
    }

    .name {
      color: #fff;
      font-weight: 400;
    }

    .logo {
      position: absolute;
      width: 50px;
      left: 5vw;
    }

    .option {
      margin-left: -120px;
    }

    .problem-container {
      overflow: auto;
      width: 100vw;
      margin-top: -1vw;
      display: block;
      height: 890px;
    }

    .selected {
      background-color: #5caff3;
      border-radius: 50px;
      padding: 8px;
      text-align: center;
    }

    .item {
      display: inline-block;
      width: 95%;
      height: 50px;
      background-color: rgba(255, 255, 255, 100);
      margin: 0.5vw 2.5vw;
      border-radius: 5px;
      filter: drop-shadow(0 0 0.05rem #1f1f1f);
      text-decoration: none;
      color: black;
    }

    h4 {
      line-height: 45px;
      margin-left: 1vw;
    }
    

    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: none; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
      border-radius: 50px
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    .item:hover {
      transition: 0.5s ease;
      filter: drop-shadow(0 0 0.2rem #5caff3);
      cursor: pointer;
    }

    .icon {
      position: absolute;
      color: black;
      font-size: 22px;
      bottom: 0.4vw;
      right: 1vw;
    }

</style>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 header">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <img src="https://cdn.discordapp.com/attachments/1113429267938811906/1163119966283894845/asfa.png?ex=653e6ae1&is=652bf5e1&hm=d0f00b08ae8e55365b4e4ed0f842975fdea06ea0ffdccb8bdd8caf3e73e30bc8&" class="logo">
            <ul class="nav col-12 col-md-auto mb-md-0 option">
              <li><a href="/rank" class="nav-link px-2 link-light">Ranking</a></li>
              <li><a href="/problem" class="nav-link px-2 link-light selected">Problems</a></li>
            </ul>
            <div class="text-end">
              <span class="name">Welcome, <%= name %></span>
            </div>
          </div>
        </div>
      </header>
      <div class="problem-container">
        <% data.forEach((quizItem, index) => { %>
          <div class="item" onclick="redirectToProblemDetails('<%= quizItem._id %>')">
            <h4 style="font-size: 20px;"><%= quizItem.Title %></h4>
            <div class="icon"><iconify-icon icon="maki:arrow"></iconify-icon></div>
          </div>
          
        <% }); %>
      </div>
      
      
</body>

<script>
  function redirectToProblemDetails(quizItemId) {
    // Redirect to the problem details page with the quizItemId as a query parameter
    window.location.href = `/problem-details?quizItemId=${quizItemId}`;
  }
</script>

</html>